*{
    box-sizing: border-box;
}
.container{
    width: 560px;
    margin: auto;
    padding: 30px 30px 10px 30px;
    background-color: gray;
}
.container input{
    width: 400px;
    height: 30px;
    outline: none;
}
.container button{
    width: 80px;
    background-color: black;
    color: white;
    border: none;
    height: 30px;
}
.container ul{
    width: 500px;
    padding: 10px 20px 0px 0px;
}
